
.nav {
    grid-area: n;
    background-color: var(--color-bg-nav);
    padding: 20px;
}

.item a{
    color: var(--color-text-nav);
    text-decoration: none;
    font-size: 20px;
}

.item a.activeLink{
    color: var(--color-accent);
    font-weight: 600;
}

.item{
    padding: 10px;
}


.itemFriend{
    margin-top: 15px;
}
