@import "./normalize.css";

:root{
  --color-accent: #FFB642FF;
  --color-text: #4E4E4EFF;
  --color-text-nav:  #333;
  --color-bg-nav: rgba(255, 182, 66, 0.2);

}

body {
  color: var(--color-text);
  margin: 0;
  font-family: sans-serif;
}
